<%- include('../partials/head') %> 
<%- include('../partials/navbar') %> 
<div class="container mt-3">
  <%- include('../partials/flash') %> 
</div>

<!--NEW LOCATION HEADER-->
<div class="container location-header-edit mt-3 mb-5 mx-auto">
  <h1 style="color:white;font-size: 80px;" class="text-center py-5" id="signature">New Location</h1>
</div>
<!-- LINE 6: ENCTYPE SPECIFIES HOW THE FORM-DATA SHOULD BE ENCODED WHEN SUBMITTING TO THE SERVER - IN THIS CASE FOR UPLOADING IMAGE TO NEW CAMPGROUND-->

<!--ADD NEW LOCATION FORM-->
<div class="row pt-3">
  <div class="col-md-6 offset-md-3 mb-2 location-container p-5">
    <form action="/locations" method="POST" novalidate class="validated-form" enctype="multipart/form-data">
      <div class="mb-3">
        <label class="form-label py-2" for="title">Title</label>
        <input class="form-control" type="text" id="title" name="location[title]" required>
        <div class="valid-feedback">
          Looks good!
        </div>
      </div>
      <div class="mb-3">
        <label class="form-label py-2" for="title">Location</label>
        <input class="form-control" type="text" id="location" name="location[location]" required>
        <div class="valid-feedback">
          Looks good!
        </div>
      </div>
      <div class="mb-3">
        <label class="form-label py-2" for="description">Description</label>
        <textarea class="form-control" type="text" id="description" name="location[description]" required></textarea>
        <div class="valid-feedback">
          Looks good!
        </div>
      </div>
      <div class="mb-3">
        <label class="py-2" for="image">Upload Images</label>
        <label for="image" class="form-label"></label>
        <input class="form-control" type="file" id="image" name="image" multiple>
      </div>
      <div class="mb-3 py-3">
        <button class="btn btn-gradient col-12">Add Location</button>
      </div>
    </form>
  </div>
</div>

<div class="d-flex justify-content-center my-5">
  <a class="btn btn-gradient" href="/locations"><i class="fa-solid fa-chevron-left px-2"></i>All Locations</a> 
</div>

<%- include('../partials/cookieConsent') %>
<%- include('../partials/scripts') %> 
<%- include('../partials/footer') %> 
</main> 
</body>
</html>